<!DOCTYPE html>
<html>
    <head>
    <title>chat_app</title>
    <link rel="stylesheet" href="login.css">
    </head>
      <body style="background-color:#1BCA9B">
    
    <h1 align="center">TEXTER</h1>
    <div class="style">
        <form>
          <label for="Uname">User Name</label>
                <input type="text" name="firstname" id="Uname" placeholder="chinu11">
            <label for="pass">Password</label>
                <input type="password" name="password" id="pass" placeholder="chiystasaj11">
                <input type="submit" name="firstname" placeholder="Submit">
                
        </form>
    </div>

 </body>
</html>