<!DOCTYPE html>
<html>
    <head>
    <title>message</title>
    <link rel="stylesheet" href="messages.css">
    </head>
    <body style="background-color:#1BCA9B;">
            <h1 align=center>TEXTER</h1>
            
            <a class="yourprofile" href="profile.html"  > YOUR PROFILE</a><br>
           
              
            <div  style="margin: 24px 0;" >
                    <a class= "user1" href="userone.html" > USER ONE </a><br>
               <div align=right><a class="user2" href="usertwo.html" > USER TWO</a>
            </div></div>
    </body>
    </html>