<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link href="https://fonts.googleapis.com/css?family=Rationale|Special+Elite" rel="stylesheet">
    <style>
        body {
            background-image: url("main.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        input[type=text], select {
            width: 60%;
            padding: 30px;
            margin: 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 40px;
            box-sizing: border-box;
            font-size: 4em;
        }
        button {
            width: 30%;
            background-color: #67E6DC;
            color: white;
            padding: 30px;
            margin: 20px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 4em;
            font-family: 'Rationale', sans-serif;
        }
        a {

            width: 90%;
            padding: 1%;
            margin: 50px 2% 0px;
            font-size: 6em;
            text-decoration: none;
            font-family: 'Special Elite', cursive;
            color: #67E6DC;
        }
        a:visited {
            color: #67E6DC;
            text-decoration: none;
        }
        h1 {
            color: #2C3335;
            font-family: 'Rationale', sans-serif;
            font-size: 700%;
        }

    </style>
</head>
<body>
<h1 align="center">TEXTER</h1>
<input type="text" id="uname" name="uname" placeholder="Search For Username">
<button onclick="find()">Find</button>


<div hidden id="the_end"></div>

</body>
<script>
    var contacts = JSON.parse('<%-contacts%>')

    contacts.forEach( (user) => {
        var for_user = document.createElement("a")
        for_user.href = '/messages/' + user.username
        var text_full_name = document.createTextNode('-> '+user.full_name)
        var new_line = document.createElement('br')
        for_user.appendChild(text_full_name)
        for_user.name = user.username
        var ending  = document.getElementById("the_end")
        document.body.insertBefore(for_user, ending)
        document.body.insertBefore(new_line, ending)

    })
    var find = function () {
        var username = document.getElementById('uname')
        location.replace('/messages/'+username.value)
    }


</script>
</html>