<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>TEXTER</title>
        <link href="https://fonts.googleapis.com/css?family=Rationale|Special+Elite" rel="stylesheet">
    <style>
        .login_signup_buttons {
            margin: 5px;
            width: 100%;
            align-items: center;
            height: 40%;
        }
        h1 {
            color: #2C3335;
            font-family: 'Rationale', sans-serif;
            font-size: 700%;
        }
        input[type=submit] {
            width: 100%;
            background-color: #67E6DC;
            color: white;
            padding: 30px;
            margin: 20px;
            border: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 4em;
            font-family: 'Rationale', sans-serif;

        }
        input[type=submit]:hover {
            background-color: #616C6F;
        }
        body {
            background-image: url("index.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        #buttons {
            width: 70%;
            margin: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    </head>
    <body>
    
    <h1 align="center">TEXTER</h1>
    <div id="buttons">
        <form method="get" action="/login" align="center"  class="login_signup_buttons">
        <input type="submit" value="Login" class="login_signup_buttons">
            <br />
        </form>
            <form method="get" action="/create" align="center"  class="login_signup_buttons">
            <input type="submit" class="login_signup_buttons" value="Create an Account">
            </form>
    </div>

    </body>
    </html>
    
    