<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
    <title>chat_app</title>
          <style>
              h1 {
                  color: #485460;
                  font-family: courier;
                  font-size: 360%;
                  text-shadow: 2px 2px 5px black;
                  padding: 600px 50px 25px 100px
              }
              /*for div*/
              .login_signup_button  {
                  width: 400px;
                  height: 180px;
                  /*padding: 10px;*/
                  box-shadow: 7px 7px 2px grey;
                  margin: auto;
                  line-height: 1.6;
                  background-color :#53E0BC;
                  border-radius: 25px;
                  /* box-sizing: border-box;*/
                  padding: 25px 50px 25px 50px



              }
              .login_signup_button a:link, a:visited{
                  background-color: #f44336;
                  color: black;
                  /* padding: 14px 25px;*/
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  padding: 10px;
                  font-family: courier;
                  font-size: 220%;
                  border-radius: 25px;
                  width:100%;
              }
              .login_signup_button a:hover, a:active {
                  background-color: rgb(0, 128, 79);
              }
              .login_spacing{
                  width:100%;



              }


          </style>
    </head>
    <body style="background-color:#1BCA9B;">
    
    <h1 align="center">TEXTER</h1>
    <div class="login_signup_button">
        <form method="get" action="/login">
        <input type="submit" class="login_spacing" value="Login">
            <br />
        </form>
        <div style="margin: 24px 0;">
            <form method="get" action="/create">
            <input type="submit" value="CREATE AN ACCOUNT" class="login_spacing"></form>
    </div>
    </div>
    
    </body>
    </html>
    
    