<!DOCTYPE html>
<html>
    <head>
    <title>chat_app</title>
    </head>
      <body style="background-color:#1BCA9B">
    
    <h1 align="center">TEXTER</h1>
    <div class="style">
        <form method="post" action="/login" >
          <label for="username">User Name</label>
                <input type="text" name="username" id="username" placeholder="Enter Your Username">
            <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Shh. Secret..">
                <input type="submit" value="Login" placeholder="Login">
        </form>
        <form method="get" action="/create">
            <input type="submit" value="Don't have any account create one.">

        </form>
    </div>

 </body>
</html>