<html>
<head>
    <script>
        var occupied_usernames_and_emails = JSON.parse('<%-occupied_usernames_and_emails_string%>')
        //console.log(occupied_usernames_and_emails[0].username)
        const check_username = function () {
            //check for small passwords
            if(document.querySelector(#username).value.length < 5) {
                document.querySelector(#validusername).innerHTML = 'Username is too small'
                document.querySelector(#validusername).style.color = "red"
            }
            
        }
    </script>
</head>
<body>
<p> reg.ejs file renderd
<%=occupied_usernames_and_emails_string%></p>
</body>